APP_DB_HOST=
APP_DB_PORT=5432
APP_DB_NAME=
APP_DB_USER=
APP_DB_PASSWORD=
APP_DB_SSL=false

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_ROOT_FOLDER_ID=

ADMIN_USER=admin
ADMIN_PASSWORD=
JWT_SECRET=

TZ=America/Sao_Paulo
JWT_COOKIE_SECURE=false
PORT=3000
